/**Palhetas de cores
    background-color: #F5F7FA;
    background-color: #5BE7C4
    background-color: #50C1E9;
    background-color: #7A57D1;
*/

/*******Tipografia*********/

label {

    font-family: math;
    font-size: large;
}

h3 {
    font-family: math;
    
}




.logo {
    width: 225px;
}

.background-fundo{
    background-color: #F5F7FA;
}

#home {
	background: #F5F7FA;

}

.conteudo {
    background-color: ;
}


.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #50C1E9;
}

footer p a {
	margin: 5px 15px;
}

.celular1 {
	margin-left: 100px;

}
.img-fundo{
    background: url();
    
}

.nav-link {
    font-size: 18px;
    
}

#rodape {
    background-color: #F5F7FA;
/*  background-color: #5BE7C4
    background-color: #50C1E9;
    background-color: #7A57D1;
*/
}

/*******Login*********/

html, #home, #cadastro {
	height: 100%;
	overflow-x: hidden;
}

#backgroud-login {
    background-color:rgb(211, 249, 239, 0.9);
    
}

/*******Cadastro*********/

.img-cadastro {
    width: 300px;
}

#backgroud-cadastro{
    background-color:rgb(211, 249, 239, 0.9);

    
    
    
}
